# Note: Install plugins by running scripts/install-asdf-plugins.sh
pre-commit 2.20.0 # datasource=github-releases depName=pre-commit/pre-commit
shellcheck 0.8.0 # datasource=github-releases depName=koalaman/shellcheck
shfmt 3.5.1 # datasource=github-releases depName=mvdan/sh
python system
