# Note: Install plugins by running scripts/install-asdf-plugins.sh
pre-commit 3.2.2 # datasource=github-releases depName=pre-commit/pre-commit
shellcheck 0.9.0 # datasource=github-releases depName=koalaman/shellcheck
shfmt 3.6.0 # datasource=github-releases depName=mvdan/sh
python system
